<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<h1>Thanks for Signing up and Welcome to Gabble</h1>
<h2>all u got to do now is Sign In and be a Gabbler</h2>
<form action="/purple" method="post">
  <button type="submit"></button>

</form>
  </body>
</html>
