<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
   <style type="text/css">
a{
  margin: 20px;
}
   </style>
   <!-- couldn't get the link for css to work -->
<!-- <link rel="stylesheet" type="text/css" href="../css/home.css"> -->
    <title>Gabble</title>
 </head>
  <header>
   <div class="header">
    <a href="#" id="home"> Gabble </a>
    <a href="join"id="join" > new Gabbler </a>
    <a href="signed in as"id="signedIn" > signed in as </a>
    <button type="submit" id="logOut"> log out</button>
   </div>
  </header>

  <body>
   <h1>working.</h1>



  </body>
</html>
