<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
   <title></title>
 </head>
<header>
  <div class="logout">
   <form class="" action="/logOut" method="post">
     <button type="submit" name="logOut">Get Out</button>
   </form>
  </div>
</header>
  <body>
   <div class="container">
    <img src="http://www.waywardwanders.com/wp-content/uploads/2011/01/blabber-300x204.jpg">
    <h1>Hello There {{username}} made it; now lets Gabble</h1>
   </div>

    <div class="comments">
     <!-- form to take in comments and post them -->
     <form action="/post-comment" id="postC" method="post">
      <input type="string" name="title"placeholder="post title here">
      <input type="string" name="body" placeholder="post comment here">
      <button id="postButton" type="submit">Post</button>
    </form>
     <ul>
      {{#post}}
       <form class="likeForm" method="POST" action= "/like">
        <button type="submit" class="likeButtons" name="likeButton" value="{{id}}">LIKE</button>
    </form>

     <form class="deleteButton" action="/delete" method="post">
       <button type="submit" class="deleteButtons" name="deleteButton" value="delete">delete</button>
     </form>

        <li> {{title}},{{body}}</li>
      {{/post}}
    </div>

</div>
  </body>
</html>
